body{
    background: rgb(21,194,65);
    background: -moz-linear-gradient(90deg, rgba(21,194,65,1) 0%, rgba(0,0,0,1) 35%, rgba(21,194,65,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(21,194,65,1) 0%, rgba(0,0,0,1) 35%, rgba(21,194,65,1) 100%);
    background: linear-gradient(90deg, rgba(21,194,65,1) 0%, rgba(0,0,0,1) 35%, rgba(21,194,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15c241",endColorstr="#15c241",GradientType=1); 

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
h1{
    animation-name: fadeIn;
    animation-duration: 5s;
}
.text{
    position: relative;
    animation-name: fadeIn;
    animation-duration: 5s;
    position: relative;
}
.bottom{
    animation-name: fadeIn;
    animation-duration: 5s;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}
